*{
  box-sizing: border-box;
}

:root{
  --cell-size:100px;
  --mark-size:calc(var(--cell-size)*.9);
}

body{
  margin: 0;
}

.board{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,auto);
  
}
.cell{
  width:var(--cell-size);
  height: var(--cell-size);
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}



.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7){
  border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-bottom: none;
}

.cell.x,
.cell.circle{
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
  content: '';
  position: absolute;
  width: calc(var(--mark-size)* .15 ) ;
  height: var(--mark-size);
}
.cell.x::before,
.board .cell:not(.x):not(.circle):hover::after{
  transform:rotate(45deg) ;
}
.cell.x::after,
.board .cell:not(.x):not(.circle):hover::before{
  transform:rotate(-45deg) ;
}

.cell.x::before,
.cell.x::after{
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
  background-color: lightgrey;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
  content: '';
  position: absolute;
  width: calc(var(--mark-size)*.7) ;
  height: calc(var(--mark-size)*.7);
  border-radius: 50%;
}
.cell.circle::before,
.cell.circle::after{
  background-color: white;
  border: 10px solid black;
}

.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before{
  background-color: white;
  border: 10px solid lightgray;
}

.winning-message{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4em;
  flex-direction: column;
}

.winning-message #restart{
 font-size: 1em;
 cursor: pointer;
 border: 1px solid black;
 border-radius: 10px;
}
.winning-message #restart:hover{
  color: white;
  background-color: black;
  border-color: white;
 }

 .winning-message.show{
   display: flex;
 }
